.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.container-fluid {
    display: flex;
  }
  
  .container-fluid hr {
    flex-grow: 1;
    border: none;
    border-top: 2px solid black;
    margin-right: 10px;
    margin-top: 100px;
  }
  
  .container-fluid h1 {
    margin: 0;

    color: #262626;
    text-align: right;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    width: 370px;
    flex-direction: column;
    flex-shrink: 0;
  }

  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 280px;
    border-bottom: 1px solid black;
  }
  
  input[type="text"]:focus {
    outline: none;
  }

  .btn{
    width: 100px;
    border-radius: 30px;
  }
  footer{
    background: #262626;
  }
  @media (max-width: 767.98px) {
    .sidebar {
        display: none;
    }
    .footer-content .col {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
    }
}
  

  