.navbar-nav .nav-link:hover {
    text-decoration: underline;
}
.sidebar {
    
    background-color: #FFFFFF;
    padding: 20px;
}

.sidebar img {
    height: 20px;
    margin-bottom: 10px;
    display: block;
    max-width: 100%;
}
#main{
    background: #4285F4;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 791px;
}
#podcast-content{
    color: #FFF;
    font-family: Roboto;
    font-size: 100px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.blackbox{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;
  }

  footer{
    background: #262626;
  }
  .boxed-spotify{
    background-color:#454545 ;
    border-radius: 20px;
    width: 50%;
  }
  .boxed-spotify img{
    margin: 20px;
  }
  .boxed-spotify h1{
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0em;

  }
  .spotify-btn{
    width: 274px;
    height: 59px;
    left: 537px;
    border-radius: 50px;

  }
  @media (max-width: 767.98px) {
    .footer-content .col {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
    }
}
